a {
  padding: 20px;
}

.table {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1110px) {
  .table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.des {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  padding:10px;
}

.des h3 {
  padding: 0px;
}

ul {
  text-align: center;

  margin-left:auto;
  margin-right:auto;
}

